# .env.example

# Flask application settings
FLASK_ENV=development
FLASK_DEBUG=1
FLASK_APP=app.py

# Database settings
DATABASE_URL=sqlite:///db.sqlite3
DATABASE_TRACK_MODIFICATIONS=False

# Secret key for session management
SECRET_KEY=your_secret_key

# Other configurations
CACHE_TYPE=Simple
CACHE_DEFAULT_TIMEOUT=300
